body{
    font-family: Avenir, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#javaWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

#progressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    width: 90px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
}

progress{
    -webkit-appearance: none;
    width: 200px;
    transition: width 1s linear;
}

#javaDiamonds{
    font-size:20px;
    min-height: 20px;
}